footer {
    width: 100%;
    height: 200px;
    background-color: #2d3342;
    text-align: center;
    padding-top: 95px;
    color: white;
}

footer p {
    padding-top: 15px;
}

footer span {
    color: #00D474;
    text-decoration: underline;
}

footer a{
    font-weight: bold;
}

footer img{
    padding-top: 20px;
}
